Repository BA-RO/baro-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

fix: 빌드 실패 해결을 위한 타입 선언
  src/api/http.ts
  src/components/Button/index.tsx
  src/components/Input/WriteInput/index.tsx
  src/components/Portal/index.tsx
  src/components/Tooltip/TooltipContent.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: deploy yaml 수정
  .github/workflows/deploy.yaml
Due: none

feat: branch 변경
  .github/workflows/deploy.yaml
Due: none

[Chore/BAR-189] @tanstack/react-query, @tanstack/react-query-devtools peer dependency 오류 해결 (#32)
  package.json
  pnpm-lock.yaml
Due: none

[Feature/BAR-140] 기존 도커 이미지 삭제 및 빌드 실패 해결 (#33)
  .github/workflows/deploy.yaml
  src/api/http.ts
  src/components/Button/index.tsx
  src/components/Input/WriteInput/index.tsx
  src/components/Portal/index.tsx
  src/components/Tooltip/TooltipContent.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: eslint 룰 추가
  .eslintrc.json
Due: none

refactor: 컨벤션에 맞는 형태로 파일 수정
  pages/_app.tsx
  pages/_document.tsx
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/index.tsx
  src/components/Badge/style.css.ts
  src/components/Button/style.css.ts
  src/components/Icon/index.tsx
  src/components/Input/WriteInput/index.tsx
  src/components/Input/WriteInput/style.css.ts
  src/components/Layout/index.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/components/ModalContainer.tsx
  src/components/Modal/index.tsx
  src/components/Modal/modals/DeleteArticle.tsx
  src/components/Modal/style.css.ts
  src/components/Portal/index.tsx
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/components/TabsContent.tsx
  src/components/Tabs/components/TabsList.tsx
  src/components/Tabs/components/TabsTrigger.tsx
  src/components/Tabs/index.tsx
  src/components/Tabs/style.css.ts
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/index.tsx
  src/components/Toast/style.css.ts
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/components/TooltipContent.tsx
  src/components/Tooltip/components/TooltipTrigger.tsx
  src/components/Tooltip/index.tsx
  src/components/Tooltip/style.css.ts
  src/constants/badge.ts
  src/constants/portal.ts
  src/constants/toast.ts
  src/hooks/useTabsContext.ts
  src/hooks/useTooltipContext.ts
  src/models/toast.ts
  src/stores/modal.ts
  src/stores/toast.ts
  src/utils/getPosition.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

fix: storybook portal 대응
  .storybook/preview-body.html
  src/components/Modal/Modal.stories.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 모달 기능 추가
  src/components/Modal/components/ModalContainer.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: close svg icon 적용
  .storybook/main.ts
  src/assets/icons/close.svg
  src/components/Modal/style.css.ts
  src/constants/icon.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 포탈 관련 정보 추가
  .storybook/preview-body.html
  src/constants/portal.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: keyframe 형태로 변경
  src/components/Toast/style.css.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: default toast 일반 토스트로 지정
  src/stores/toast.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

refactor: 토스트 트랜지션 시간 변수화
  src/constants/toast.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

fix: message가 없는 경우 null 반환
  src/components/Toast/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 토스트 스토리북 작성
  src/components/Toast/Toast.stories.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 리뷰 사항들 반영
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/components/ModalContainer.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

[Feature/BAR-201] 모달 기능 개발 (#35)
  .storybook/main.ts
  src/assets/icons/close.svg
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/components/ModalContainer.tsx
  src/components/Modal/style.css.ts
  src/constants/icon.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: no-stash 옵션 제거
  .husky/pre-commit
Due: none

style: max width 및 전역 설정 추가
  src/styles/global.css.ts
  tsconfig.json
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 가이드 컴포넌트 작성
  pages/write/index.tsx
  src/domain/Write/components/Guide.tsx
  src/domain/Write/components/guide.css.ts
  src/feature/DomainA/components/example.tsx
  src/feature/DomainA/index.tsx
  src/feature/DomainA/utils/example.ts
  src/feature/Example/components/example.tsx
  src/feature/Example/index.tsx
  src/feature/Example/utils/example.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 데이터 구조화
  pages/write/index.tsx
  pages/write/style.css.ts
  src/domain/Write/History/components/Card.tsx
  src/domain/Write/History/index.css.ts
  src/domain/Write/History/index.tsx
  src/domain/Write/components/guide.css.ts
  src/domain/Write/types/index.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

refactor: page 스타일 삭제
  pages/write/index.tsx
  pages/write/style.css.ts
  src/styles/global.css.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

chore(plop): component 파일명 index.tsx로 변경
  plopfile.mjs
Due: none

[Feature/BAR-202] no-stash 옵션 제거 (#37)
  .husky/pre-commit
Due: none

chore(assets): 아이콘 추가
  src/assets/icons/archive.svg
  src/assets/icons/copy.svg
  src/assets/icons/menu.svg
  src/constants/icon.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

refactor: 카테고리 컬러 상수화 적용
  src/components/Badge/Badge.stories.tsx
  src/constants/badge.ts
  src/constants/config.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: card 컴포넌트 구현
  src/components/Card/Card.stories.tsx
  src/components/Card/index.tsx
  src/components/Card/style.css.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

refactor: px값 문자열로 변경
  src/components/Toast/style.css.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

refactor: props명 변경
  src/components/Toast/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 끄적이는 히스토리 dateLabel 스타일링
  pages/write/index.tsx
  src/assets/icons/clock.svg
  src/constants/icon.ts
  src/domain/Write/History/index.css.ts
  src/domain/Write/History/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: dayjs locale 설정
  package.json
  pnpm-lock.yaml
  src/domain/Write/History/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 히스토리 카드 스타일링
  src/domain/Write/History/components/Card/index.css.ts
  src/domain/Write/History/components/Card/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

feat: 컨테이너 스타일링
  pages/write/index.tsx
  src/domain/Write/History/components/Card.tsx
  src/domain/Write/History/index.css.ts
  src/domain/Write/History/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

fix: card 컴포넌트 <li/> 태그로 변경
  src/components/Card/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

fix: grid 적용시 다른 요소와 같이 height가 늘어나는 문제 해결
  src/components/Card/style.css.ts
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

refactor: 스타일 객체 상수화
  src/components/Card/Card.stories.tsx
Due: prettier --write, eslint --fix, bash -c tsc -p tsconfig.json --noEmit

chore(commitlint): 기본 subject-case rule 제거
  commitlint.config.js
Due: prettier --write, eslint --fix

[Chore/BAR-215]: commitlint의 기본 subject-case rule 제거 (#41)
  commitlint.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  bash -c tsc -p tsconfig.json --noEmit: any of: *.{ts,tsx}
